altgraph==0.17.5
anyio==4.14.1
attrs==26.1.0
backports.zstd==1.6.0
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
docopt==0.6.2
exceptiongroup==1.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
inflate64==1.0.4
markdown-it-py==4.2.0
mdurl==0.1.2
multivolumefile==0.2.3
numpy>=1.23
outcome==1.3.0.post0
packaging==26.2
pipreqs==0.4.13
psutil==7.2.2
py7zr==1.1.3
pybcj==1.0.7
pycparser==3.0
pycryptodomex==3.23.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyvirtualdisplay==3.0
PyScap @ git+https://github.com/Lexian-droid/pyscap.git@f645b26ec851358d04f11ebaf8ecf29663e5f145
pyppmd==1.3.1
PySocks==1.7.1
requests==2.34.2
rich==15.0.0
selenium==4.34.2
sniffio==1.3.1
sortedcontainers==2.4.0
texttable==1.7.0
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.14.1
urllib3==2.5.0
websocket-client==1.8.0
wsproto==1.3.2
yarg==0.1.10
